<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>We use your microphone for voice chat with the appointment scheduling agent.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We convert your speech to text to communicate with the appointment scheduling assistant.</string>
</dict>
</plist>
